#chat-list {
    height: 300px;
    overflow-y: auto;
}


.chat {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s ease;
}


.chat:hover {
    background-color: #f5f5f5;
}